.room1 {
    background-color: #FFFDEE;
  }
  
  /* до 414 = тягнется
  414 - 1024 - телефон
  1024 - 1280 - планшет
  1280 - пк */
  
  .section-container {
    padding-top: 32px;
  }
  @media screen and (min-width: 1024px) {
    .section-container {
      padding-top: 62px;
    }
  }
  @media screen and (min-width: 1280px) {
    .section-container {
      padding-top: 72px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .text_and_img {
      display: flex;
      gap: 26px;
    }
  }
  @media screen and (min-width: 1280px) {
    .text_and_img {
      gap: 48px;
    }
  }

  .text__over-title {
    font-family: 'TimesNewRomanPSMT', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    padding-bottom: 8px;
  }
  @media screen and (min-width: 1024px) {
    .text__over-title {
      font-size: 32px;
      padding-bottom: 4px;
    }
  }

  .logo {
    font-family: 'FilmP3Bold';
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #494848;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.07;
  }
  @media screen and (min-width: 1024px) {
    .logo {
      font-size: 64px;
    }
  }

  .text__logo {
    display: block;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1024px) {
    .text__logo {
      padding-bottom: 62px;
    }
  }
  @media screen and (min-width: 1280px) {
    .text__logo {
      padding-bottom: 72px;
    }
  }

  .text__title {
    font-family: 'TimesNewRomanPS-Bold', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 12px;
  }
  @media screen and (min-width: 1024px) {
    .text__title {
      font-size: 30px;
      line-height: 1.13;
      padding-bottom: 16px;
    }
  }
  @media screen and (min-width: 1280px) {
    .text__title {
      font-size: 36px;
      line-height: 1.14;
      padding-bottom: 24px;
    }
  }

  .text__paragraph {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;
  }
  @media screen and (min-width: 1024px) {
    .text__paragraph {
      font-size: 16px;
      max-width: 439px;
    }
  }
  @media screen and (min-width: 1280px) {
    .text__paragraph {
      max-width: 400px;
    }
  }
  
  .text__paragraph--room1 {
  padding-right: 126px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .text__paragraph--room1 {
    padding: 0;
  }
}
  
  .room__image {
    display: block;
    width: 244px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  .room1__image {
    margin: 0 0 34px auto;
  }
  @media screen and (min-width: 1024px) {
    .room__image {
      width: 400px;
      margin-top: -94px;
      margin-bottom: 48px;
    }
  }
  @media screen and (min-width: 1280px) {
    .room__image {
      width: 460px;
      margin-top: -104px;
      margin-bottom: 49px;
    }
  }

  .slider_and_buttons {
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1024px) {
    .slider_and_buttons {
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
    }
  }

  .room__slider-position {
    position: relative;
  }

  .slider-btn-position {
    top: 0;
    position: relative;
  }
  .slider-btn-position--room1 {
    margin-left: -15px;
  }
  @media screen and (min-width: 1024px) {
    .slider-btn-position--room1 {
      margin-left: 0;
    }
  }

  .slider-viewport--room {
    width: 284px !important;
  }
  .slider-viewport--room1 {
    margin: 0 !important;
  }
  @media screen and (min-width: 1024px) {
    .slider-viewport--room {
      width: 428px !important;
    }
    .slider-viewport--room1 {
      width: 428px !important;
      margin-left: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    .slider-viewport--room {
      width: 548px !important;
    }
  }

  .room1-swiper {
    margin-left: -120px !important;
}
  .room2-swiper {
    margin-right: -120px !important;
  }
@media screen and (min-width: 1024px) {
  .room1-swiper {
    margin-left: 0 !important;
  }
  .room2-swiper {
    margin-right: 0 !important;
  }
}

  .swiper-slide--rooms {
    margin-right: 16px !important;
    width: 194px !important;
    height: 194px !important;
 }
 @media screen and (min-width: 1024px) {
  .swiper-slide--rooms {
    margin-right: 40px !important;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide--rooms {
    width: 254px !important;
    height: 254px !important;
  }
}
  .room-img-width {
    width: 194px;
    height: 194px;
  }
  @media screen and (min-width: 1280px) {
    .room-img-width {
      width: 254px;
      height: 254px;
    }
  }

  .room1__slider-btns {
    margin-left: 15px !important;
  }
  @media screen and (min-width: 1024px) {
    .room__slider-btns {
      margin-top: 32px !important;
    }
    .room1__slider-btns {
      margin-right: 0 !important;
      margin-left: auto !important;
    }
  }
  @media screen and (min-width: 1280px) {
    .room__slider-btns {
      margin-top: 40px !important;
    }
  }
    
  .room__buttons {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  @media screen and (min-width: 1024px) {
    .room__buttons {/* 
      margin-top: 41px; */
      justify-content: center;
      margin: 0 0 64px;
    }
  }
  @media screen and (min-width: 1280px) {
    .room__buttons {
      margin: 0 0 72px;
    }
  }

  .room__button {
    display: block;
    margin: 0 auto;
    padding: 14px 0;
    width: 236px;
    height: 48px;
    font-family: 'Montserrat-SemiBold';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #F3C653;
    background: #000000;    
    border: 2px solid #FFFDEE;
    border-radius: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .room__button:hover, .room__button:focus .room__button:active {
    background-color: #FFFFFF;
    border-color: #F3C653;
    color: #F3C653;
  }