<section class="about-restaurant page-section">
  <div class="container">
    <h2 class="visually-hidden">Про наш ресторан</h2>

    <div class="about__top-block">
      <p class="about__slogan">Amet minim mollit non</p>
      <p class="about__logo">МІМІНО</p>
      <p class="about__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="about__img"
        src="../../img/main-page/homepage__rest-about-01--desktop.jpg"
        srcset="
          ../../img/main-page/homepage__rest-about-01--desktop.jpg    1x,
          ../../img/main-page/homepage__rest-about-01--desktop@2x.jpg 2x
        "
        alt="Інтер'єр першого залу ресторану"
      />
    </div>

    <div class="about__bottom-block">
      <img
        class="about__img"
        src="../../img/main-page/homepage__rest-about-02--desktop.jpg"
        srcset="
          ../../img/main-page/homepage__rest-about-02--desktop.jpg    1x,
          ../../img/main-page/homepage__rest-about-02--desktop@2x.jpg 2x
        "
        alt="Інтер'єр другого залу ресторану"
      />
      <p class="about__text about__text--colored">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <div class="about__slider">
        <img
          class="about__slider-img"
          src="../../img/main-page/restaurant__general-slider-01--desktop.jpg"
          srcset="
            ../../img/main-page/restaurant__general-slider-01--desktop.jpg    1x,
            ../../img/main-page/restaurant__general-slider-01--desktop@2x.jpg 2x
          "
          alt="Жіноча рука з келихом червоного вина над столиком у ресторані"
        />

        <img
          class="about__slider-img"
          src="../../img/main-page/restaurant__general-slider-02--desktop.jpg"
          srcset="
            ../../img/main-page/restaurant__general-slider-02--desktop.jpg    1x,
            ../../img/main-page/restaurant__general-slider-02--desktop@2x.jpg 2x
          "
          alt="Стіл, накритий для банкета, в ресторані"
        />

        <p style="color: white; font-weight: 700; background-color: red">
          Додати стрілки слайдера через CSS
        </p>
      </div>
    </div>
  </div>
</section>
