<section class="about-restaurant page-section">
	<!-- CHANGE "../../img" with "./img" BEFORE pull request -->
	<div class="container about__container">
		<h2 class="visually-hidden">Про наш ресторан</h2>

		<div class="about__top-block">
			<div class="about__wrapper">
				<h3 class="about__slogan">Amet minim mollit non</h3>
				<p class="about__logo">MIMIHO</p>
				<p class="about__text">
					Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
					sint. Velit officia consequat duis enim velit mollit. Exercitation
					veniam consequat sunt nostrud amet.
				</p>
			</div>

			<div class="thumb about__img about__img--intruder">
				<picture>
					<source media="(max-width: 1023px)"
						srcset="../../img/main-page/homepage__rest-about-01--mobile.jpg    1x, ../../img/main-page/homepage__rest-about-01--mobile@2x.jpg 2x"
						type="image/jpeg" />

					<source media="(max-width: 1279px)"
						srcset="../../img/main-page/homepage__rest-about-01--tablet.jpg    1x, ../../img/main-page/homepage__rest-about-01--tablet@2x.jpg 2x"
						type="image/jpeg" />

					<source media="(min-width: 1280px)"
						srcset="../../img/main-page/homepage__rest-about-01--desktop.jpg    1x, ../../img/main-page/homepage__rest-about-01--desktop@2x.jpg 2x"
						type="image/jpeg" />

					<img src="../../img/main-page/homepage__rest-about-01--desktop.jpg" alt="Інтер'єр першого залу ресторану" />
				</picture>
			</div>
		</div>

		<div class="about__bottom-block">
			<div class="thumb about__img">
				<picture>
					<source media="(max-width: 1023px)" srcset="
            ../../img/main-page/homepage__rest-about-02--mobile.jpg    1x,
            ../../img/main-page/homepage__rest-about-02--mobile@2x.jpg 2x" type="image/jpeg" />

					<source media="(max-width: 1279px)"
						srcset="../../img/main-page/homepage__rest-about-02--tablet.jpg    1x, ../../img/main-page/homepage__rest-about-02--tablet@2x.jpg 2x"
						type="image/jpeg" />

					<source media="(min-width: 1280px)" srcset="
            ../../img/main-page/homepage__rest-about-02--desktop.jpg    1x,
            ../../img/main-page/homepage__rest-about-02--desktop@2x.jpg 2x" type="image/jpeg" />

					<img src="../../img/main-page/homepage__rest-about-02--desktop.jpg" alt="Інтер'єр другого залу ресторану" />
				</picture>
			</div>
			<p class="about__text about__text--colored">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet.
			</p>
		</div>

		<!--div class="about__slider-wrapper">
			<ul class="about__slider-img-list">
				<li class="thumb about__slider-img-item">
					<picture>
						<source media="(max-width: 1023px)"
							srcset="../../img/main-page/restaurant__general-slider-01--mobile.jpg 1x, ../../img/main-page/restaurant__general-slider-01--mobile@2x.jpg 2x"
							type="image/jpeg" />

						<source media="(max-width: 1279px)"
							srcset="../../img/main-page/restaurant__general-slider-01--tablet.jpg 1x, ../../img/main-page/restaurant__general-slider-01--tablet@2x.jpg 2x"
							type="image/jpeg" />

						<source media="(min-width: 1280px)"
							srcset="../../img/main-page/restaurant__general-slider-01--desktop.jpg 1x, ../../img/main-page/restaurant__general-slider-01--desktop@2x.jpg 2x"
							type="image/jpeg" />

						<img src="../../img/main-page/restaurant__general-slider-01--desktop.jpg"
							alt="Жіноча рука з келихом червоного вина над столиком у ресторані" />
					</picture>
				</li>

				<li class="thumb about__slider-img-item">
					<picture>
						<source media="(max-width: 1023px)"
							srcset="../../img/main-page/restaurant__general-slider-02--mobile.jpg 1x, ../../img/main-page/restaurant__general-slider-02--mobile@2x.jpg 2x"
							type="image/jpeg" />

						<source media="(max-width: 1279px)"
							srcset="../../img/main-page/restaurant__general-slider-02--tablet.jpg 1x, ../../img/main-page/restaurant__general-slider-02--tablet@2x.jpg 2x"
							type="image/jpeg" />

						<source media="(min-width: 1280px)"
							srcset="../../img/main-page/restaurant__general-slider-02--desktop.jpg 1x, ../../img/main-page/restaurant__general-slider-02--desktop@2x.jpg 2x"
							type="image/jpeg" />

						<img src="../../img/main-page/restaurant__general-slider-02--desktop.jpg"
							alt="Стіл в ресторані, накритий для банкета" />
					</picture>
				</li>
			</ul>

			<ul class="about__slider-arrow-list">
				<li>
					<button class="about__slider-btn" type="button">&#8592;</button>
				</li>
				<li>
					<button class="about__slider-btn" type="button">&#8594;</button>
				</li>
			</ul>
		</div>
	</div>
</section-->


		<div class="about__slider-wrapper">
			<div class="slider-btn-position">
				<div class="swiper mySwiper about-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="thumb">
								<img src="./img/main-page/restaurant__general-slider-01--desktop.jpg" srcset="
                    ./img/main-page/restaurant__general-slider-01--desktop.jpg    1x,
                    ./img/main-page/restaurant__general-slider-01--desktop@2x.jpg 2x
                  " alt="Жіноча рука з келихом червоного вина над столиком у ресторані" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="thumb">
								<img src="./img/main-page/restaurant__general-slider-02--desktop.jpg" srcset="
                    ./img/main-page/restaurant__general-slider-02--desktop.jpg    1x,
                    ./img/main-page/restaurant__general-slider-02--desktop@2x.jpg 2x
                  " alt="Стіл, накритий для банкета, в ресторані" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="thumb">
								<img src="./img/main-page/restaurant__general-slider-01--desktop.jpg" srcset="
                    ./img/main-page/restaurant__general-slider-01--desktop.jpg    1x,
                    ./img/main-page/restaurant__general-slider-01--desktop@2x.jpg 2x
                  " alt="Жіноча рука з келихом червоного вина над столиком у ресторані" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="thumb">
								<img src="./img/main-page/restaurant__general-slider-02--desktop.jpg" srcset="
                    ./img/main-page/restaurant__general-slider-02--desktop.jpg    1x,
                    ./img/main-page/restaurant__general-slider-02--desktop@2x.jpg 2x
                  " alt="Стіл, накритий для банкета, в ресторані" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="thumb">
								<img src="./img/main-page/restaurant__general-slider-01--desktop.jpg" srcset="
                    ./img/main-page/restaurant__general-slider-01--desktop.jpg    1x,
                    ./img/main-page/restaurant__general-slider-01--desktop@2x.jpg 2x
                  " alt="Жіноча рука з келихом червоного вина над столиком у ресторані" />
							</div>
						</div>
						<div class="swiper-slide">
							<div class="thumb">
								<img src="./img/main-page/restaurant__general-slider-02--desktop.jpg" srcset="
                    ./img/main-page/restaurant__general-slider-02--desktop.jpg    1x,
                    ./img/main-page/restaurant__general-slider-02--desktop@2x.jpg 2x
                  " alt="Стіл, накритий для банкета, в ресторані" />
							</div>
						</div>
					</div>
					<div class="slider-btns">
						<div class="button-prev btn">&#8592;</div>
						<div class="button-next btn">&#8594;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>