<section class="about-hotel page-section">
	<div class="container about-hotel__container">
		<h2 class="visually-hidden">Про наш готель</h2>

		<div class="about-hotel__top-block">
			<div class="about-hotel__wrapper">
				<h3 class="about-hotel__slogan">Amet minim mollit non</h3>
				<p class="about-hotel__logo">MIMIHO</p>
				<p class="about-hotel__text">
					Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
					sint. Velit officia consequat duis enim velit mollit. Exercitation
					veniam consequat sunt nostrud amet.
				</p>
			</div>

			<div class="thumb about-hotel__img about-hotel__img--intruder">
				<picture>
					<source media="(max-width: 1023px)" srcset="
              ./img/main-page/homepage__hotel-about-01--mobile.jpg    1x,
              ./img/main-page/homepage__hotel-about-01--mobile@2x.jpg 2x
            " type="image/jpeg" />

					<source media="(max-width: 1279px)" srcset="
              ./img/main-page/homepage__hotel-about-01--tablet.jpg    1x,
              ./img/main-page/homepage__hotel-about-01--tablet@2x.jpg 2x
            " type="image/jpeg" />

					<source media="(min-width: 1280px)" srcset="
              ./img/main-page/homepage__hotel-about-01--desktop.jpg    1x,
              ./img/main-page/homepage__hotel-about-01--desktop@2x.jpg 2x
            " type="image/jpeg" />

					<img src="./img/main-page/homepage__hotel-about-01--desktop.jpg" alt="Інтер'єр одного з номерів готелю" />
				</picture>
			</div>
		</div>

		<div class="about-hotel__bottom-block">
			<div class="thumb about-hotel__img">
				<picture>
					<source media="(max-width: 1023px)" srcset="
              ./img/main-page/homepage__hotel-about-02--mobile.jpg    1x,
              ./img/main-page/homepage__hotel-about-02--mobile@2x.jpg 2x
            " type="image/jpeg" />

					<source media="(max-width: 1279px)" srcset="
              ./img/main-page/homepage__hotel-about-02--tablet.jpg    1x,
              ./img/main-page/homepage__hotel-about-02--tablet@2x.jpg 2x
            " type="image/jpeg" />

					<source media="(min-width: 1280px)" srcset="
              ./img/main-page/homepage__hotel-about-02--desktop.jpg    1x,
              ./img/main-page/homepage__hotel-about-02--desktop@2x.jpg 2x
            " type="image/jpeg" />

					<img src="./img/main-page/homepage__hotel-about-02--desktop.jpg" alt="Інтер'єр другого залу ресторану" />
				</picture>
			</div>
			<p class="about-hotel__text about-hotel__text--colored">
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
				sint. Velit officia consequat duis enim velit mollit. Exercitation
				veniam consequat sunt nostrud amet.
			</p>
		</div>

		<div class="about-hotel__slider-wrapper">
			<div class="slider-btn-position">
				<div class="swiper mySwiper about-hotel__swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide about-hotel__slide">
							<div class="thumb">
								<picture>
									<source media="(max-width: 1023px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-01--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-01--mobile@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(max-width: 1279px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-01--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-01--tablet@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(min-width: 1280px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-01--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-01--desktop@2x.jpg 2x
                    " type="image/jpeg" />

									<img src="./img/main-page/slider/homepage__hotel-about-slider-01--desktop.jpg"
										alt="Хостес спілкується з гостею на ресепшині" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide about-hotel__slide">
							<div class="thumb">
								<picture>
									<source media="(max-width: 1023px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-02--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-02--mobile@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(max-width: 1279px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-02--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-02--tablet@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(min-width: 1280px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-02--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-02--desktop@2x.jpg 2x
                    " type="image/jpeg" />

									<img src="./img/main-page/slider/homepage__hotel-about-slider-02--desktop.jpg"
										alt="Приклад офрмлення застеленого ліжка в номері готелю" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide about-hotel__slide">
							<div class="thumb">
								<picture>
									<source media="(max-width: 1023px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-03--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-03--mobile@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(max-width: 1279px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-03--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-03--tablet@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(min-width: 1280px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-03--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-03--desktop@2x.jpg 2x
                    " type="image/jpeg" />

									<img src="./img/main-page/slider/homepage__hotel-about-slider-03--desktop.jpg"
										alt="Інтер'єр одного з номерів готелю" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide about-hotel__slide">
							<div class="thumb">
								<picture>
									<source media="(max-width: 1023px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-04--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-04--mobile@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(max-width: 1279px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-04--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-04--tablet@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(min-width: 1280px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-04--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-04--desktop@2x.jpg 2x
                    " type="image/jpeg" />

									<img src="./img/main-page/slider/homepage__hotel-about-slider-04--desktop.jpg"
										alt="Лаунж-зона готелю" />
								</picture>
							</div>
						</div>
						<div class="swiper-slide about-hotel__slide">
							<div class="thumb">
								<picture>
									<source media="(max-width: 1023px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-05--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-05--mobile@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(max-width: 1279px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-05--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-05--tablet@2x.jpg 2x
                    " type="image/jpeg" />

									<source media="(min-width: 1280px)" srcset="
                      ./img/main-page/slider/homepage__hotel-about-slider-05--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-about-slider-05--desktop@2x.jpg 2x
                    " type="image/jpeg" />

									<img src="./img/main-page/slider/homepage__hotel-about-slider-05--desktop.jpg"
										alt="Спілкування з гостею у комсетичному салоні готелю" />
								</picture>
							</div>
						</div>
					</div>
					<div class="about-hotel__slider-btns">
						<div class="button-prev btn about-hotel__slider-btn">
							<svg width="32" height="32">
								<use href="./img/icons.svg#icon-Vector-left"></use>
							</svg>
						</div>
						<div class="button-next btn about-hotel__slider-btn">
							<svg width="32" height="32">
								<use href="./img/icons.svg#icon-Vector-right"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>