<section class="about-restaurant page-section">
  <div class="container about__container">
    <h2 class="visually-hidden">Про наш ресторан</h2>

    <div class="about__top-block">
      <div class="about__wrapper">
        <h3 class="about__slogan">Amet minim mollit non</h3>
        <p class="about__logo">MIMIHO</p>
        <p class="about__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="thumb about__img about__img--intruder">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/main-page/homepage__rest-about-01--mobile.jpg    1x,
              ./img/main-page/homepage__rest-about-01--mobile@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/main-page/homepage__rest-about-01--tablet.jpg    1x,
              ./img/main-page/homepage__rest-about-01--tablet@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/main-page/homepage__rest-about-01--desktop.jpg    1x,
              ./img/main-page/homepage__rest-about-01--desktop@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./img/main-page/homepage__rest-about-01--desktop.jpg"
            alt="Інтер'єр першого залу ресторану"
          />
        </picture>
      </div>
    </div>

    <div class="about__bottom-block">
      <div class="thumb about__img">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/main-page/homepage__rest-about-02--mobile.jpg    1x,
              ./img/main-page/homepage__rest-about-02--mobile@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/main-page/homepage__rest-about-02--tablet.jpg    1x,
              ./img/main-page/homepage__rest-about-02--tablet@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/main-page/homepage__rest-about-02--desktop.jpg    1x,
              ./img/main-page/homepage__rest-about-02--desktop@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./img/main-page/homepage__rest-about-02--desktop.jpg"
            alt="Інтер'єр другого залу ресторану"
          />
        </picture>
      </div>
      <p class="about__text about__text--colored">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="about__slider-wrapper">
      <div class="slider-btn-position">
        <div class="swiper mySwiper about-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide about-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-01--mobile.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-01--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-01--tablet.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-01--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-01--desktop.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-01--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    src="./img/restaurant-page/slider/restaurant__general-slider-01--desktop.jpg"
                    alt="Жіноча рука з келихом червоного вина над столиком у ресторані"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide about-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-02--mobile.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-02--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-02--tablet.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-02--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-02--desktop.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-02--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    src="./img/restaurant-page/slider/restaurant__general-slider-02--desktop.jpg"
                    alt="Стіл в ресторані, накритий для банкета"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide about-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-03--mobile.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-03--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-03--tablet.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-03--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-03--desktop.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-03--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    src="./img/restaurant-page/slider/restaurant__general-slider-03--desktop.jpg"
                    alt="Приклад формату подачі чая у ресторані"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide about-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-04--mobile.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-04--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-04--tablet.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-04--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-04--desktop.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-04--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    src="./img/restaurant-page/slider/restaurant__general-slider-04--desktop.jpg"
                    alt="Інтер'єр зони самообслуговування в ресторані"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide about-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-05--mobile.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-05--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-05--tablet.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-05--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-05--desktop.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-05--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    src="./img/restaurant-page/slider/restaurant__general-slider-05--desktop.jpg"
                    alt="Стіл з сервірованим сніданком у ресторані"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide about-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-06--mobile.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-06--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-06--tablet.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-06--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/restaurant-page/slider/restaurant__general-slider-06--desktop.jpg    1x,
                      ./img/restaurant-page/slider/restaurant__general-slider-06--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />

                  <img
                    src="./img/restaurant-page/slider/restaurant__general-slider-06--desktop.jpg"
                    alt="Приклад сервіровки столу в ресторані"
                  />
                </picture>
              </div>
            </div>
          </div>
          <div class="slider-btns">
            <div class="button-prev btn about__slider-btn">
              <svg width="32" height="32">
                <use href="./img/icons.svg#icon-Vector-left"></use>
              </svg>
            </div>
            <div class="button-next btn about__slider-btn">
              <svg width="32" height="32">
                <use href="./img/icons.svg#icon-Vector-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
