<section class="details-hotel page-section">
  <!-- details-hotel -->
  <div class="wrap-wrap-hotel">
    <div class="container">
      <div class="details-hotel-text">
        <h2 class="logo-title hotel-logo-title">mimiho</h2>
        <h3 class="after-logo-title hotel-after-logo-title">Готель</h3>
        <p class="after-title-description hotel-after-title-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
  
      <div class="wrapper">
        <div class="swiper details-hotel-swiper details-slider">
          <div class="swiper-wrapper details-res-swiper-wrapper">
            <div class="swiper-slide details-res-swiper-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-01--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-01@2x--mobile.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-01.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-01@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-01.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-01@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <img
                    src="./img/main-page/slider/homepage__hotel-details-slider-01.jpg"
                    alt="hotel-pic-1"
                    height="270"
                    class="hotel-img"
                  />
                </picture>
              </div>
            </div>
            <div
              class="swiper-slide details-res-swiper-slide details-res-swiper-slide-thin"
            >
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-02.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-02@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-02.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-02@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-02.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-02@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <img
                    src="./img/main-page/slider/homepage__hotel-details-slider-02.jpg"
                    alt="hotel-pic-2"
                    height="270"
                    class="hotel-img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide details-res-swiper-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-03--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-03@2x--tablet.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-03--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-03@2x--tablet.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-03--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-03@2x--desktop.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <img
                    src="./img/main-page/slider/homepage__hotel-details-slider-03--desktop.jpg"
                    alt="hotel-pic-3"
                    height="270"
                    class="hotel-img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide details-res-swiper-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-04--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-04--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-04--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-04--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-04--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-04--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <img
                    src="./img/main-page/slider/homepage__hotel-details-slider-04--desktop.jpg"
                    alt="hotel-pic-4"
                    height="270"
                    class="hotel-img"
                  />
                </picture>
              </div>
            </div>
            <div class="swiper-slide details-res-swiper-slide">
              <div class="thumb">
                <picture>
                  <source
                    media="(max-width: 1023px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-05--mobile.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-05--mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(max-width: 1279px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-05--tablet.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-05--tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/main-page/slider/homepage__hotel-details-slider-05--desktop.jpg    1x,
                      ./img/main-page/slider/homepage__hotel-details-slider-05--desktop@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
  
                  <img
                    src="./img/main-page/slider/homepage__hotel-details-slider-05--desktop.jpg"
                    alt="hotel-pic-5"
                    height="270"
                    class="hotel-img"
                  />
                </picture>
              </div>
            </div>
          </div>
  
          <div class="swiper-btn-list hotel-swiper-btn-list">
            <div>
              <button type="button" class="prev-pic-btn details-btn-prev">
                <svg class="prev-pic-btn-icon" width="32" height="32">
                  <use href="./img/icons.svg#icon-Vector-left"></use>
                </svg>
              </button>
            </div>
            <div>
              <button type="button" class="next-pic-btn details-btn-next">
                <svg class="next-pic-btn-icon" width="32" height="32">
                  <use href="./img/icons.svg#icon-Vector-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
  
        <div class="service-list hotel-service-list">
          <div class="service-item">
            <button type="button" class="service-btn" data-book-room-modal-open>Забронювати номер</button>
          </div>
          <div class="service-item">
            <a href="hotel.html" class="service-btn">Переглянути ціни</a>
          </div>
        </div>
      </div>
    </div>
  </div >

</section>
