<section class="details-hotel page-section">
  <!-- details-hotel -->
  <div class="container">
    <div class="details-hotel-text">
      <h2 class="logo-title hotel-logo-title">mimiho</h2>
      <h3 class="after-logo-title hotel-after-logo-title">Готель</h3>
      <p class="after-title-description hotel-after-title-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>


    <div class="wrapper">
      <!-- <div class="swiper-wrap hotel-swiper-wrap">

        
        <ul class="dishes-list">
          <li>
            <div class="thumb">
              <img
                src="./img/main-page/restaurant__dishes-slider-01.jpg"
                srcset="
                  ./img/main-page/restaurant__dishes-slider-01.jpg    1x,
                  ./img/main-page/restaurant__dishes-slider-01@2x.jpg 2x
                "
                alt="meal-pic-1"
                width="270"
                height="270"
                class="dish-img"
              />
            </div>
          </li>
          <li>
            <div class="thumb">
              <img
                src="./img/main-page/restaurant__dishes-slider-02.jpg"
                srcset="
                  ./img/main-page/restaurant__dishes-slider-02.jpg    1x,
                  ./img/main-page/restaurant__dishes-slider-02@2x.jpg 2x
                "
                alt="meal-pic-2"
                height="270"
                class="dish-img"
              />
            </div>
          </li>
          <li>
            <div class="thumb">
              <img
                src="./img/main-page/restaurant__dishes-slider-03--desktop.jpg"
                srcset="
                  ./img/main-page/restaurant__dishes-slider-03--desktop.jpg   1x,
                  ./img/main-page/restaurant__dishes-slider-03@2--desktop.jpg
                "
                alt="meal-pic-3"
                height="270"
                class="dish-img"
              />
            </div>
          </li>
        </ul>


        <ul class="swiper-btn-list hotel-swiper-btn-list">
          
          <li>
            <button type="button" class="next-pic-btn">
              <svg class="next-pic-btn-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-Vector-left"></use>
              </svg>
            </button>
          </li>
          <li>
            <button type="button" class="prev-pic-btn">
              <svg class="prev-pic-btn-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-Vector-right"></use>
              </svg>
            </button>
          </li>
        </ul>
        

      </div> -->



      <!--  -->

      <div class="swiper mySwiper details-hotel-swiper">
        
        <div class="swiper-wrapper details-res-swiper-wrapper ">
          
          <div class="swiper-slide details-res-swiper-slide">
            <div class="thumb">
              <img
                src="./img/main-page/homepage__hotel-details-slider-03--desktop.jpg"
                srcset="
                ./img/main-page/homepage__hotel-details-slider-03--desktop.jpg 1x,
                ./img/main-page/homepage__hotel-details-slider-03--desktop@2x.jpg 2x
                "
                alt="hotel-pic-1"
                height="270"
                class="hotel-img"
              />
            </div>
          </div>
          <div class="swiper-slide details-res-swiper-slide details-res-swiper-slide-thin">
            <div class="thumb">
              <img
                src="./img/main-page/homepage__hotel-details-slider-02.jpg"
                srcset="
                ./img/main-page/homepage__hotel-details-slider-02.jpg    1x,
                ./img/main-page/homepage__hotel-details-slider-02@2x.jpg 2x
                "
                alt="hotel-pic-2"
                height="270"
                class="hotel-img"
              />
            </div>
          </div>
          <div class="swiper-slide details-res-swiper-slide">
            <div class="thumb">
              <img
                src="./img/main-page/homepage__hotel-details-slider-01.jpg"
                srcset="
                ./img/main-page/homepage__hotel-details-slider-01.jpg   1x,
                ./img/main-page/homepage__hotel-details-slider-01@2x.jpg 2x
                "
                alt="hotel-pic-3"
                height="270"
                class="hotel-img"
              />
            </div>
          </div>
          <div class="swiper-slide details-res-swiper-slide">
            <div class="thumb">
              <img
                src="./img/main-page/restaurant__general-slider-01--desktop.jpg"
                srcset="
                ./img/main-page/restaurant__general-slider-01--desktop.jpg   1x,
                ./img/main-page/restaurant__general-slider-01--desktop@2x.jpg
                "
                alt="hotel-pic-4"
                height="270"
                class="dish-img"
              />
            </div>
          </div>
        
        </div>
        
       <div class="swiper-btn-list hotel-swiper-btn-list">
          <div >
            <button type="button" class="prev-pic-btn button-prev">
              <svg class="prev-pic-btn-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-Vector-left"></use>
              </svg>
            </button>
          </div>
          <div>
            <button type="button" class="next-pic-btn button-next">
              <svg class="next-pic-btn-icon" width="32" height="32">
                <use href="./img/icons.svg#icon-Vector-right"></use>
              </svg>
            </button>
          </div>
       </div >
      
        
      </div>




      <div class="service-list hotel-service-list">
        <div class="service-item">
          <button type="button" class="service-btn">Забронювати номер</button>
        </div>
        <div class="service-item">
          <a href="#" class="service-btn">Переглянути ціни</a>
        </div>
      </div>
    </div>
  </div>
</section>
