<section class="hero">
  <div class="container">
    <h1 class="hero-main-title">MIMIHO</h1>
    <h2 class="hero-subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero-text-description">СМАК ЖИТТЯ 24/7</p>
    <div class="hero-content-wrapper">
      <div class="hero-map-place-wrapper">
        <!-- <svg class="hero-map-icon" width="24" height="24">
          <use href="../../public/favicon.svg#"></use>
        </svg> -->
        <a
          href="https://www.google.com/maps/place/Mimino+Restaurant+and+Hotel+Complex/@49.5989768,34.5261324,19z/data=!4m6!3m5!1s0x40d82601f34ac947:0xbb948724f7cf0b61!8m2!3d49.5992605!4d34.5259946!16s%2Fg%2F1td63v2t"
          target="_blank"
          class="hero-map-place"
        >
          Україна, м. Полтава, вул. Маршала Бірюзова, 15
        </a>
      </div>
      <div class="hero-btn-wrapper">
        <button class="hero-btn hero-btn-one" type="button">
          Забронювати столик
        </button>
        <button class="hero-btn" type="button">Забронювати номер</button>
      </div>
    </div>
  </div>
</section>
