<section class="hero">
  <div class="container">
    <h1 class="hero-main-title">MIMIHO</h1>
    <h2 class="hero-subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero-text-description">СМАК ЖИТТЯ 24/7</p>
    <!-- <button class="hero-btn-address" type="button">
      Україна, м. Полтава, вул. Маршала Бірюзова, 15
      <svg class="hero-button-icon" width="24" height=24">
        <use href=""></use>
      </svg>
    </button> -->
    <div class="hero-buttons-wrapper">
      <button class="hero-btn hero-btn-one" type="button">
        Забронювати столик
      </button>
      <button class="hero-btn" type="button">Забронювати номер</button>
    </div>
  </div>
</section>
