<section class="hero">
  <div class="container">
    <div class="hero-relative-wrapper">
      <div class="hero-content-wrapper">
        <div class="hero-map-place-wrapper">
          <div>
            <svg class="hero-map-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-location-pin"></use>
            </svg>
          </div>
          <a
            href="https://www.google.com/maps/place/Mimino+Restaurant+and+Hotel+Complex/@49.5989768,34.5261324,19z/data=!4m6!3m5!1s0x40d82601f34ac947:0xbb948724f7cf0b61!8m2!3d49.5992605!4d34.5259946!16s%2Fg%2F1td63v2t"
            target="_blank"
            class="hero-map-place link"
          >
            Україна, м. Полтава, вул.Маршала Бірюзова, 15
          </a>
        </div>
      </div>
      <h1 class="hero-main-title">MIMIHO</h1>
      <h2 class="hero-subtitle">Ресторанно-готельний комплекс</h2>
      <p class="hero-text-description">СМАК ЖИТТЯ 24/7</p>
      <div class="hero-btn-wrapper">
        <button class="hero-btn hero-btn-one" type="button" data-modal-open>
          Забронювати столик
        </button>
        <button class="hero-btn" type="button" data-modal-open>
          Забронювати номер
        </button>
      </div>
    </div>
    <div class="hero-soc-content">
      <ul class="hero-soc-list list">
        <li class="hero-soc-item">
          <a
            href="https://www.instagram.com/mimino.poltava/"
            target="_blank"
            class="hero-soc-link link"
          >
            <svg class="hero-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-soc-item">
          <a
            href="https://www.facebook.com/pages/%D0%A0%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD-%D0%9C%D0%B8%D0%BC%D0%B8%D0%BD%D0%BE/114589595894911?paipv=0"
            target="_blank"
            class="hero-soc-link link"
          >
            <svg class="hero-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-soc-item">
          <a
            href="http://www.mimino.poltava.ua/kontakt.html"
            target="_blank"
            class="hero-soc-link link"
          >
            <svg class="hero-soc-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
