<section class="room1 page-section">
  <div class="container section-container">
    <div class="text_and_img">
      <div class="text block">
        <h3 class="text__over-title">Amet minim mollit non</h3>
        <span class="logo text__logo">Mimiho</span>
        <h2 class="text__title">ДВОМІСНИЙ НОМЕР люкс</h2>
        <p class="text__paragraph text__paragraph--room1">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="thumb">
        <picture>
          <source
            media="(max-width: 1023px)"
            srcset="
              ./img/hotel/hotel__01--mobile.jpg    1x,
              ./img/hotel/hotel__01--mobile@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/hotel/hotel__01--tablet.jpg    1x,
              ./img/hotel/hotel__01--tablet@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/hotel/hotel__01--desktop.jpg    1x,
              ./img/hotel/hotel__01--desktop@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="room__image room1__image"
            src="./img/hotel/hotel__01--desktop.jpg"
            alt="Двомісний номер люкс"
          />
        </picture>
      </div>
    </div>
    <div class="slider_and_buttons">
      <div class="room__slider-position">
        <div class="slider-btn-position slider-btn-position--room1">
          <div class="swiper mySwiper about-swiper slider-viewport--room slider-viewport--room1">
            <div class="swiper-wrapper room1-swiper">
              <div class="swiper-slide swiper-slide__img swiper-slide--rooms">
                <div class="thumb room-img-width">
                  <picture >
                    <source
                      media="(max-width: 1023px)"
                      srcset="
                        ./img/hotel/slider/hotel__room1-slider-01--mobile.jpg    1x,
                        ./img/hotel/slider/hotel__room1-slider-01--mobile@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(max-width: 1279px)"
                      srcset="
                        ./img/hotel/slider/hotel__room1-slider-01--tablet.jpg  1x,
                        ./img/hotel/slider/hotel__room1-slider-01--tablet@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./img/hotel/slider/hotel__room1-slider-01--desktop.jpg    1x,
                        ./img/hotel/slider/hotel__room1-slider-01--desktop@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <img
                      src="./img/hotel/slider/hotel__room1-slider-01--desktop.jpg"
                      alt="Умивальник та рушники"
                    />
                  </picture>
                </div>
              </div>
              <div class="swiper-slide swiper-slide__img swiper-slide--rooms">
                <div class="thumb room-img-width">
                  <picture>
                    <source
                      media="(max-width: 1023px)"
                      srcset="
                        ./img/hotel/slider/hotel__room1-slider-02--mobile.jpg    1x,
                        ./img/hotel/slider/hotel__room1-slider-02--mobile@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(max-width: 1279px)"
                      srcset="
                        ./img/hotel/slider/hotel__room1-slider-02--tablet.jpg  1x,
                        ./img/hotel/slider/hotel__room1-slider-02--tablet@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./img/hotel/slider/hotel__room1-slider-02--desktop.jpg    1x,
                        ./img/hotel/slider/hotel__room1-slider-02--desktop@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <img
                      src="./img/hotel/slider/hotel__room1-slider-02--desktop.jpg"
                      alt="Чашка кави на підвіконні"
                    />
                  </picture>
                </div>
              </div>
              <div class="swiper-slide swiper-slide__img swiper-slide--rooms">
                <div class="thumb room-img-width">
                  <picture>
                    <source
                      media="(max-width: 1023px)"
                      srcset="
                        ./img/hotel/slider/hotel__room-slider-03--mobile.jpg    1x,
                        ./img/hotel/slider/hotel__room-slider-03--mobile@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(max-width: 1279px)"
                      srcset="
                        ./img/hotel/slider/hotel__room-slider-03--tablet.jpg  1x,
                        ./img/hotel/slider/hotel__room-slider-03--tablet@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./img/hotel/slider/hotel__room-slider-03--desktop.jpg    1x,
                        ./img/hotel/slider/hotel__room-slider-03--desktop@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <img
                      src="./img/hotel/slider/hotel__room-slider-03--desktop.jpg"
                      alt="Диван та вазон з деревом"
                    />
                  </picture>
                </div>
              </div>
              <div class="swiper-slide swiper-slide__img swiper-slide--rooms">
                <div class="thumb room-img-width">
                  <picture>
                    <source
                      media="(max-width: 1023px)"
                      srcset="
                        ./img/hotel/slider/hotel__room-slider-04--mobile.jpg    1x,
                        ./img/hotel/slider/hotel__room-slider-04--mobile@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(max-width: 1279px)"
                      srcset="
                        ./img/hotel/slider/hotel__room-slider-04--tablet.jpg  1x,
                        ./img/hotel/slider/hotel__room-slider-04--tablet@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <source
                      media="(min-width: 1280px)"
                      srcset="
                        ./img/hotel/slider/hotel__room-slider-04--desktop.jpg    1x,
                        ./img/hotel/slider/hotel__room-slider-04--desktop@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />

                    <img
                      src="./img/hotel/slider/hotel__room-slider-04--desktop.jpg"
                      alt="Рушник та засоби гігієни"
                    />
                  </picture>
                </div>
              </div>
            </div>
            <div class="slider-btns room__slider-btns room1__slider-btns">
              <div class="button-prev btn">
                <svg
                  class="slider-button"
                  width="32"
                  height="32"
                  aria-label="Слайдер"
                >
                  <use class="" href="./img/icons.svg#icon-Vector-left"></use>
                </svg>
              </div>
              <div class="button-next btn">
                <svg
                  class="slider-button"
                  width="32"
                  height="32"
                  aria-label="Слайдер"
                >
                  <use class="" href="./img/icons.svg#icon-Vector-right"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="room__buttons">
        <li><a class="room__button" href="./mimiho/room">Детальніше</a></li>
        <li>
          <button class="room__button js-open-modal" data-modal="3" type="button">Переглянути ціни</button>
        </li>
      </ul>
    </div>
  </div>
</section>
