<section class="room1 page-section">
  <!-- room1 -->
</section>

<section class="room1 page-section">
  <div class="conteiner">
      <div class="text block">
          <h3 class="text__over-title">Amet minim mollit non</h3>
          <span class="logo text__logo">Mimiho</span>
          <h2 class="text__title">ДВОМІСНИЙ НОМЕР люкс</h2>
          <p class="text__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="thumb">
          <picture>
              <img class="room-image" src="../../img/hotel/hotel__01--mobile.jpg" alt="Двомісний номер люкс">
          </picture>
      </div>
      <div>
      <ul>
        <li>
            <picture class="thumb">
                <img class="room-slider" src="../../img/hotel/hotel__room1-slider-01--mobile.jpg" alt="">
            </picture>
        </li>
        <li>
            <picture class="thumb">
                <img class="room-image" src="" alt="">
            </picture>
        </li>
    </ul>
    <ul>
        <li><button></button></li>
        <li><button></button></li>
    </ul>
      </div>
      <ul class="room_buttons">
          <li><button class="room-button" type="button">Детальніше</button></li>
          <li><button class="room-button room-button__prices" type="button">Переглянути ціни</button></li>
      </ul>
  </div>
</section>