<section class="room2 page-section">
  <div class="container section-container">
      <div class="text block--room2">
          <h3 class="text__over-title text__over-title--room2">Amet minim mollit non</h3>
          <span class="logo text__logo text__logo--room2">Mimiho</span>
          <h2 class="text__title text__title--room2">ТРЬОХМІСНИЙ НОМЕР</h2>
          <p class="text__paragraph text__paragraph--room2 ">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="thumb">
        <picture>
            <source media="(max-width: 1023px)"
                srcset="././img/hotel/hotel__01--mobile.jpg    1x, ././img/hotel/hotel__01--mobile@2x.jpg 2x"
                type="image/jpeg" />

            <source media="(max-width: 1279px)"
                srcset="././img/hotel/hotel__01--tablet.jpg    1x, ././img/hotel/hotel__01--tablet@2x.jpg 2x"
                type="image/jpeg" />

            <source media="(min-width: 1280px)"
                srcset="././img/hotel/hotel__01--desktop.jpg    1x, ././img/hotel/hotel__01--desktop@2x.jpg 2x"
                type="image/jpeg" />

            <img class="room__image room2__image" src="././img/hotel/hotel__01--desktop.jpg" alt="Двомісний номер люкс" />
        </picture>
      </div>
      <div class="room__slider-position">
        <div class="slider-btn-position slider-btn-position--room2">
            <div class="swiper mySwiper about-swiper room2-swiper" >
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide__img">
                        <div class="thumb room-img-width">
                            <picture>
                                <source media="(max-width: 1023px)"
                                    srcset="././img/hotel/slider/hotel__room2-slider-01--mobile.jpg 1x, ././img/hotel/slider/hotel__room2-slider-01--mobile@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(max-width: 1279px)"
                                    srcset="././img/hotel/slider/hotel__room2-slider-01----tablet.jpg 1x, ././img/hotel/slider/hotel__room2-slider-01--tablet@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(min-width: 1280px)"
                                    srcset="././img/hotel/slider/hotel__room2-slider-01--desktop.jpg 1x, ././img/hotel/slider/hotel__room2-slider-01--desktop@2x.jpg 2x"
                                    type="image/jpeg" />

                                <img src="././img/hotel/slider/hotel__room2-slider-01--desktop.jpg"
                                    alt="Умивальник та рушники" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide__img">
                        <div class="thumb room-img-width">
                            <picture>
                                <source media="(max-width: 1023px)"
                                    srcset="././img/hotel/slider/hotel__room2-slider-02--mobile.jpg 1x, ././img/hotel/slider/hotel__room2-slider-02--mobile@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(max-width: 1279px)"
                                    srcset="././img/hotel/slider/hotel__room2-slider-02----tablet.jpg 1x, ././img/hotel/slider/hotel__room2-slider-02--tablet@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(min-width: 1280px)"
                                    srcset="././img/hotel/slider/hotel__room2-slider-02--desktop.jpg 1x, ././img/hotel/slider/hotel__room2-slider-02--desktop@2x.jpg 2x"
                                    type="image/jpeg" />

                                <img src="././img/hotel/slider/hotel__room2-slider-02--desktop.jpg"
                                    alt="Чашка кави на підвіконні" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide__img">
                        <div class="thumb room-img-width">
                            <picture>
                                <source media="(max-width: 1023px)"
                                    srcset="././img/hotel/slider/hotel__room-slider-03--mobile.jpg 1x, ././img/hotel/slider/hotel__room-slider-03--mobile@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(max-width: 1279px)"
                                    srcset="././img/hotel/slider/hotel__room-slider-03----tablet.jpg 1x, ././img/hotel/slider/hotel__room-slider-03--tablet@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(min-width: 1280px)"
                                    srcset="././img/hotel/slider/hotel__room-slider-03--desktop.jpg 1x, ././img/hotel/slider/hotel__room-slider-03--desktop@2x.jpg 2x"
                                    type="image/jpeg" />

                                <img src="././img/hotel/slider/hotel__room-slider-03--desktop.jpg"
                                    alt="Диван та вазон з деревом" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide__img">
                        <div class="thumb room-img-width">
                            <picture>
                                <source media="(max-width: 1023px)"
                                    srcset="././img/hotel/slider/hotel__room-slider-04--mobile.jpg 1x, ././img/hotel/slider/hotel__room-slider-04--mobile@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(max-width: 1279px)"
                                    srcset="././img/hotel/slider/hotel__room-slider-04----tablet.jpg 1x, ././img/hotel/slider/hotel__room-slider-04--tablet@2x.jpg 2x"
                                    type="image/jpeg" />

                                <source media="(min-width: 1280px)"
                                    srcset="././img/hotel/slider/hotel__room-slider-04--desktop.jpg 1x, ././img/hotel/slider/hotel__room-slider-04--desktop@2x.jpg 2x"
                                    type="image/jpeg" />

                                <img src="././img/hotel/slider/hotel__room-slider-04--desktop.jpg"
                                    alt="Рушник та засоби гігієни" />
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="slider-btns room__slider-btns room2__slider-btns">
                    <div class="button-prev btn">
                        <svg class="slider-button" width="32" height="32" aria-label="Слайдер">
                            <use href="././img/icons.svg#icon-Vector-left"></use>
                          </svg>
                    </div>
                    <div class="button-next btn">
                        <svg class="slider-button" width="32" height="32" aria-label="Слайдер">
                            <use href="././img/icons.svg#icon-Vector-right"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div>
        <ul>
            <li>
                <picture class="thumb">
                    <img class="" alt="">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <img class="" src="" alt="">
                </picture>
            </li>
        </ul>
        <ul>
            <li><button></button></li>
            <li><button></button></li>
        </ul>
      </div>
      <ul class="room__buttons">
          <li><button class="room__button" type="button">Детальніше</button></li>
          <li><button class="room__button" type="button">Переглянути ціни</button></li>
      </ul>
  </div>
</section>