<section class="room1 page-section">
  <div class="container">
      <div class="text block">
          <h3 class="text__over-title">Amet minim mollit non</h3>
          <span class="logo text__logo">Mimiho</span>
          <h2 class="text__title">ДВОМІСНИЙ НОМЕР люкс</h2>
          <p class="text__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
      <div class="thumb">
          <picture>
              <img class="room__image" src="././img/hotel/hotel__01--mobile.jpg" alt="Двомісний номер люкс">
          </picture>
      </div>

      <div class="room__slider-position">
        <div class="slider-btn-position">
            <div class="swiper mySwiper about-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--margin" style="margin-right: 16px;">
                        <div class="thumb">
                            <img class="swiper-slide__img" src="././img/hotel/hotel__room1-slider-01--mobile.jpg" srcset="
                            ././img/hotel/hotel__room1-slider-01--mobile.jpg    1x,
                            ././img/hotel/hotel__room1-slider-01--mobile@2x.jpg 2x
              " alt="Умивальник та рушники" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb">
                            <img class="swiper-slide__img" src="././img/hotel/hotel__room1-slider-02--mobile.jpg" srcset="
                            ././img/hotel/hotel__room1-slider-02--mobile.jpg    1x,
                            ././img/hotel/hotel__room1-slider-02--mobile@2x.jpg 2x
              " alt="Чашка кави на підвіконні" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb">
                            <img class="swiper-slide__img" src="././img/hotel/slider/hotel__room-slider-03--mobile.jpg" srcset="
                            ././img/hotel/slider/hotel__room-slider-03--mobile.jpg    1x,
                            ././img/hotel/slider/hotel__room-slider-03--mobile@2x.jpg 2x
              " alt="hotel__room-slider-03" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb">
                            <img class="swiper-slide__img" src="././img/hotel/slider/hotel__room-slider-04--mobile.jpg" srcset="
                            ././img/hotel/slider/hotel__room-slider-04--mobile.jpg    1x,
                            ././img/hotel/slider/hotel__room-slider-04--mobile@2x.jpg 2x
              " alt="hotel__room-slider-04" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb">
                            <img class="swiper-slide__img" src="././img/hotel/slider/hotel__room1-slider-01--mobile.jpg" srcset="
                            ././img/hotel/slider/hotel__room1-slider-01--mobile.jpg    1x,
                            ././img/hotel/slider/hotel__room1-slider-01--mobile@2x.jpg 2x
              " alt="hotel__room1-slider-01" />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="thumb">
                            <img class="swiper-slide__img" src="././img/hotel/slider/hotel__room1-slider-02--mobile.jpg" srcset="
                            ././img/hotel/slider/hotel__room1-slider-02--mobile.jpg    1x,
                            ././img/hotel/slider/hotel__room1-slider-02--mobile@2x.jpg 2x
              " alt="hotel__room1-slider-02" />
                        </div>
                    </div>
                </div>
                <div class="slider-btns room__slider-btns">
                    <div class="button-prev btn">
                        <svg class="slider-button" width="32" height="32" aria-label="Слайдер">
                            <use class="" href="././img/icons.svg#icon-Vector-left"></use>
                          </svg>
                    </div>
                    <div class="button-next btn">
                        <svg class="slider-button" width="32" height="32" aria-label="Слайдер">
                            <use class="" href="././img/icons.svg#icon-Vector-right"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div>
        <ul>
            <li>
                <picture class="thumb">
                    <img class="" alt="">
                </picture>
            </li>
            <li>
                <picture class="thumb">
                    <img class="" src="" alt="">
                </picture>
            </li>
        </ul>
        <ul>
            <li><button></button></li>
            <li><button></button></li>
        </ul>
      </div>
      <ul class="room__buttons">
          <li><button class="room__button" type="button">Детальніше</button></li>
          <li><button class="room__button" type="button">Переглянути ціни</button></li>
      </ul>
  </div>
</section>