<footer>
  <div class="container footer-container">
    <div class="botoom-logo">
      <a href="./index.html" class="bootom-line">MIMINO</a>
    </div>
    <div class="footer-list">
      <ul class="footer-navigation">
        <li>
          <a href="./index.html" class="header-link"> Головна</a>
        </li>
        <li>
          <a href="./restaurant.html" class="header-link"> Ресторан</a>
        </li>
        <li>
          <a href="./hotel.html" class="header-link"> Готель</a>
        </li>
      </ul>
      <ul class="socials-list">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="contact-icon"
          >
            <svg width="22" height="22">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="contact-icon"
          >
            <svg width="22" height="22">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li>
          <a href="https://telegram.org/" target="_blank" class="contact-icon">
            <svg width="22" height="22">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <ul class="link">
        <li class="link-list">
          <a href="https://telegram.org/" 
          target="_blank" 
          class="footer-icon">
          <span class="link-text">Telegram</span>
            <svg width="22" height="22">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="link-list">
        <a
        href="https://www.facebook.com/"
        target="_blank"
        class="footer-icon"
        >
        <span class="link-text">Facebook</span>
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
        </li>

        <li class="link-list">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="footer-icon"
          >
         <span class="link-text">Instagram</span>
            <svg width="22" height="22">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
