/* <<<=============== Modal window Book Table ===================>>> */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  max-width: 414px;
  max-height: 668px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: tranform 300ms linear;
  padding: 15px;
  background-color: #fffdee;
  border-radius: 2px;

}
body.modal-open {
  overflow: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn {
  width: 18px;
  height: 18px;
  padding: 0px;

  background-color: transparent;
  border: 1.5px solid #000000;
  border: none;

  display: block;
  margin-left: auto;

  cursor: pointer;
}
.icon-x {
  stroke: black;
}

.title-modal {
  font-size: 24px;
  font-family: 'Times New Roman';
  font-weight: 700px;
  line-height: 0.86;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 27px;

}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  letter-spacing: 0.02em;
  background-color: #c79002;
}

.modal-input {
  display: block;
  width: 100%;
  height: 54px;
  font-size: 20px;
  font-family: 'Times New Roman';
  line-height: 1.15;
  color: #808080;
  background-color: transparent;
  border: 1px solid #c79002;
  border-radius: 5px;
  margin-bottom: 8px;
  letter-spacing: 0.05em;
  padding-left: 12px;

}
.modal-select{
 
  width: 100%;
  height: 54px;
  background-color: transparent;
  border: 1px solid #c79002;
  border-radius: 5px;
  margin-bottom: 8px;
}

/* icons ===================================== > */
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.select-icon-position{
  position:relative;
}
.select-icon-position::after{
  content: '';
  width: 24px;
  height: 24px;
  pointer-events: none;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  transition: tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: url("./img/modal/untitled.svg") 0 0 / 100% no-repeat;

}
.select-icon-position:focus-within::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

/*=== icons================================ > */


.label-title{
 color: #C79002;
 margin-left: 27px;

}

.modal-form-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 43px;
  font-size: 20px;
  font-weight: 'Montserrat';
  line-height: 0,83;
  text-align: center;
  color:#FFFFFF;
  background: #000000;
  border: 1px solid #F3C653;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 45px;
  letter-spacing: 0,02px;
}
.modal-position-icon{
  margin-bottom: 20px;

} 
.select-position{
  margin-bottom: 40px;
}


/* =============== media screen ===================*/
 @media screen and (min-width: 1024px) 
{ 
  .modal {
  max-width: 712px;
  max-height: 522px;
  padding-bottom: 0px;
  /* overflow: scroll; */

  }
  .title-modal{
    font-size: 40px;
    line-height: 0.87;
    letter-spacing: 0.05em;
  }


  .modal-position-icon{
    min-width: 288px;
  }

  .modal-form-button{
  font-size:24px;
  line-height: 0,82;
  width: 592px;
  height: 64px;
  margin-top: 0px;
  margin-bottom: 60px;

}
 .modal-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  }

 .modal-position-icon{
  margin-bottom: 28px;
} 
 .modal-input{
  font-size: 24px;
  line-height: 0,87;
}
}

/* <<<============== Modal window Book Room ===============>>>*/

.backdrop-room {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop-room.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-room {
  width: 100%;
  max-width: 414px;
  max-height: 780px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: tranform 300ms linear;
  padding: 15px;
  background-color: #fffdee;
  border-radius: 2px;

}
body.modal-open {
  overflow: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn-room {
  width: 18px;
  height: 18px;
  padding: 0px;

  background-color: transparent;
  border: 1.5px solid #000000;
  border: none;

  display: block;
  margin-left: auto;

  cursor: pointer;
}
.icon-x {
  stroke: black;
}

.title-modal-room {
  font-size: 24px;
  font-family: 'Times New Roman';
  font-weight: 700px;
  line-height: 0.86;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 27px;

}

.comment-room {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  letter-spacing: 0.02em;
  background-color: #c79002;
}

.modal-input-room {
  display: block;
  width: 100%;
  height: 54px;
  font-size: 20px;
  font-family: 'Times New Roman';
  line-height: 1.15;
  color: #808080;
  background-color: transparent;
  border: 1px solid #c79002;
  border-radius: 5px;
  margin-bottom: 8px;
  letter-spacing: 0.05em;
  padding-left: 12px;


}
.modal-select-room{
 
  width: 100%;
  height: 54px;
  background-color: transparent;
  border: 1px solid #c79002;
  border-radius: 5px;
  margin-bottom: 8px;
}
.label-title-room{
 color: #C79002;
 margin-left: 27px;

}
.modal-position-room
{margin-bottom: 20px;}

.modal-button-room{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 384px;
  height: 64px;
  padding: 20px 43px;
  
  font-size: 20px;

  text-align: center;
  color:#FFFFFF;
  background: #000000;
  border: 1px solid #F3C653;
  border-radius: 2px;
  margin-top: 40px;
  margin-bottom: 60px;

}

/* =============== media screen ===================*/
 @media screen and (min-width: 1024px) 
{ 
  .modal-room {
  max-width: 712px;
  max-height: 638px;
  padding-bottom: 0px;


  }
  .title-modal-room{
    font-size: 36px;
    line-height: 0.87;
    letter-spacing: 0.05em;
  }

.modal-input-room{
  max-width: 288px;
  font-size: 24px;
  line-height: 0,87;
  letter-spacing: 0.05em;
}
.modal-select-room{
  min-width: 288px;
}
.modal-button-room{
  font-size:24px;
  line-height: 0,82;
  width: 592px;
  height: 64px;
  margin-top: 12px;

}
.modal-position-room{
  margin-bottom: 28px;}

.contact{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 0px;
}
.lux{
  margin-left: 349px;

}
}