.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 95%;
  max-width: 414px;
  height: 95%;
  min-height: 668px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: scroll;
  transform: translate(-50%, -50%) scale(1);
  transition: tranform 300ms linear;
  padding: 15px;
  background-color: #fffdee;
  border-radius: 2px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close-btn {
  width: 18px;
  height: 18px;
  padding: 0px;

  background-color: transparent;
  border: none;
  /* position: absolute;
    right: 16px;
    top: 16px; */

  display: block;
  margin-left: auto;

  cursor: pointer;
}
.icon-x {
  stroke: black;
  border: 1.5px solid #000000;
}

.title-modal {
  font-size: 24px;
  font-weight: 700px;
  line-height: 0, 86;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}

.comment {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.82;
  letter-spacing: 0.02em;
  background-color: #c79002;
}
.modal-input {
  display: block;
  width: 100%;
  height: 54px;
  background-color: transparent;
  border: 1px solid #c79002;
  border-radius: 5px;
  margin-bottom: 45px;

  font-size: 20px;
  line-height: 0.82;
}
.modal-select{
  width: 100%;
  height: 54px;
  background-color: transparent;
  border: 1px solid #c79002;
  border-radius: 5px;
  margin-bottom: 45px;
}

.modal-form-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 43px;
  font-size: 20px;
  font-weight: 500;
  line-height: 0,83;
  align-items: center;
  text-align: center;
  color:#FFFFFF;
  background: #000000;
  border: 1px solid #F3C653;
  border-radius: 2px; 

}