.about-kitchen {
  background-color: #fffdee;
}

.about-kitchen__container {
  position: relative;

  padding-top: 16px;
  padding-bottom: 320px;

  overflow-x: hidden;
}

.about-kitchen__top-block {
  margin-bottom: 32px;
}

.about-kitchen__wrapper {
  max-width: 258px;
  margin-bottom: 28px;
}

.about-kitchen__slogan {
  margin-bottom: 12px;

  font-family: 'TimesNewRomanPSMT', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: calc(23 / 20);
  color: #b4b4b4;
}

.about-kitchen__logo {
  margin-bottom: 12px;

  font-family: 'FilmP3Bold', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: #494848;
}

.about-kitchen__text {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #7a7a7a;
}

.about-kitchen__text--colored {
  width: 163px;

  color: #c79002;
}

.about-kitchen__img {
  max-width: 244px;
  height: auto;
  margin-left: auto;

  border-radius: 2px;
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.about-kitchen__bottom-block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}

/* ================= SLIDER - Start ================ */
.about-kitchen__slider-wrapper {
  position: absolute;
  left: 84px;
  bottom: 23px;
}

@media screen and (min-width: 1024px) {
  .about-kitchen__slider-wrapper {
    left: auto;
    right: 15px;
    bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about-kitchen__slider-wrapper {
    bottom: 50px;
  }
}

.slider-btn-position {
  position: relative;
}

.slider-btns {
  display: flex;
  gap: 32px;
  width: 98px;
  margin-top: 20px;
  margin-inline: auto;
}

@media screen and (max-width: 413px) {
  .slider-btns {
    margin-inline: 130px 0;
  }
}

@media screen and (min-width: 1024px) {
  .slider-btns {
    margin-top: 32px;
    margin-right: 4px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .slider-btns {
    margin-top: 36px;
    margin-right: 8px;
    margin-left: auto;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  font-size: 33px;
  line-height: 0;

  fill: currentColor;

  border: none;
  background-color: transparent;

  transition: color 250ms;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #f3c653;
}

.about-kitchen__slide .thumb {
  overflow: hidden;
  border-radius: 2px;
  background-color: #dadada;
}

.about-kitchen__slide {
  width: 245px !important;
  height: 245px !important;
  margin-right: 24px !important;
}

@media screen and (min-width: 1024px) {
  .about-kitchen__slide {
    width: 194px !important;
    height: 194px !important;
    margin-right: 35px !important;
  }
}

@media screen and (min-width: 1280px) {
  .about-kitchen__slide {
    width: 254px !important;
    height: 254px !important;
  }
}

.about-kitchen__swiper {
  max-width: 514px !important;
}

@media screen and (min-width: 1024px) {
  .about-kitchen__swiper {
    max-width: 428px !important;
  }
}

@media screen and (min-width: 1280px) {
  .about-kitchen__swiper {
    max-width: 548px !important;
  }
}
/* ================== SLIDER - End ================= */

/* ================= TABLET ================ */
@media screen and (min-width: 1024px) {
  .about-kitchen__container {
    padding-top: 0;
    padding-bottom: 262px;

    overflow-x: visible;
  }

  .about-kitchen__top-block {
    position: relative;
    margin-bottom: 142px;
    padding-top: 120px;
  }

  .about-kitchen__wrapper {
    max-width: 439px;
    margin-bottom: 0;
  }

  .about-kitchen__slogan {
    margin-bottom: 4px;

    font-size: 32px;
    line-height: calc(37 / 32);
  }

  .about-kitchen__logo {
    margin-bottom: 24px;

    font-size: 64px;
    line-height: calc(69 / 64);
  }

  .about-kitchen__text {
    font-size: 16px;
    line-height: calc(20 / 16);
  }

  .about-kitchen__text--colored {
    width: 312px;
    padding-top: 196px;
  }

  .about-kitchen__img {
    min-width: 400px;
    margin-left: 0;

    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  .about-kitchen__img--intruder {
    position: absolute;
    top: -32px;
    right: 52px;
  }

  .about-kitchen__bottom-block {
    align-items: flex-start;
    gap: 48px;
    margin-bottom: 0;
  }

  .about-kitchen__bottom-block > .about-kitchen__img {
    min-width: 350px;
  }
}

/* ================ DESKTOP ================ */
@media screen and (min-width: 1280px) {
  .about-kitchen__container {
    padding-bottom: 206px;
  }

  .about-kitchen__top-block {
    margin-bottom: 162px;
  }

  .about-kitchen__wrapper {
    max-width: 518px;
  }

  .about-kitchen__text--colored {
    padding-top: 186px;
  }

  .about-kitchen__img,
  .about-kitchen__bottom-block > .about-kitchen__img {
    min-width: 460px;
  }

  .about-kitchen__img--intruder {
    top: -33px;
    right: 95px;
  }

  .about-kitchen__bottom-block {
    gap: 32px;
  }
}
