


.menu-page-section{
    background-color: #FFFDEE;
    padding: 32px 0;

}

.menu-title {
    font-family: 'Times New Roman PSMT';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.menu-subtitle{
    font-family: 'Times New Roman PSMT';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 16px;
}

.dish-name {
    font-family: 'Montserrat-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    letter-spacing: 0.02em;
    margin-bottom: 4px;
    height: 17px;
    display: inline-block;
}

.dish-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #000000;
    width: 220px;

}

.dish-weight {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    margin-left: auto;
}

.dish-price {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    margin-left: 32px;
}

.deserts {
    font-family: 'Montserrat-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
    letter-spacing: 0.02em;
    
}

.menu-info {
    display: flex;
    align-items: center;
}

.menu-type:not(:last-child){
    margin-bottom: 8px;
}

.menu-button {
    display: block;
    justify-content: center;
    background-color: #000000;
    border: none;
    border-radius: 25px;
    width: 236px;
    height: 48px;
    color: #F3C653;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-top: 32px;
    cursor: pointer;

}

    
    

    @media screen and (min-width:1024px) {
   

        .menu-page-section{
            background-color: #F0ECD6;
        }

        .menu-title {
             margin-bottom: 40px;
        }
    
        .menu-block{
            max-height: 631px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 20px;
            
        
        }

        .menu-subtitle {
    
            margin-bottom: 20px;
         }
    
        .menu-item {
             flex: 1 0 auto;
        }

       
        .menu-type {
            
             max-width: 411px;
        }
    
    
        .menu-info {
            justify-content: space-between;
        }

        .menu-button {
            display: block;
            margin: 0;
            margin-left: auto;

        }
     }

        
        
    @media screen and (min-width:1280px) {
        .menu-subtitle{
            font-size: 24px;
        }

         .dish-name {
              font-size: 16px;
        }

        .deserts {
             font-size: 16px;
         }

        .menu-type:not(:last-child){
            margin-bottom: 12px;
        }
        .menu-block{
            max-height: 668px;
        }
            
    }

     

    

     
     

    
    







    
