<section class="menu page-section">

  <!-- about-kitchen -->
  <div class="container">
    <h2>МЕНЮ РЕСТОРАНУ</h2>
    <h3>Гарячі страви</h3>
    <ul>
      <li>
        <h4>Борщ з телятини з квасолею</h4>
        <div>
        <p>Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
        <p>400 г</p>
        <p>240 грн</p>
        </div>
      </li>
      <li>
        <h4>Суп сирний з куркою</h4>
        <div>
        <p>Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
        <p>400 г</p>
        <p>200 грн</p>
        </div>
      </li>

      <li>
        <h4>Паста карбонара</h4>
        <div>
        <p>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
        <p>350 г</p>
        <p>430 грн</p>
        </div>
      </li>
      <li>
        <h4>Стейк зі свинини</h4>
        <div>
        <p>Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
        <p>400 г</p>
        <p>500 грн</p>
        </div>
      </li>
      <li>
        <h4>Горбуша в соусі з білого вина</h4>
        <div>
        <p>Ніжна горбуша, вершковий соус на основі білого вина</p>
        <p>400 г</p>
        <p>400 грн</p>
        </div>
      </li>
    </ul>
    <h3>Гарніри та закуски</h3>
    <ul>
      <li>
        <h4>Запечені овочі</h4>
        <div>
        <p>Кабачок, перець, помідор, баклажан</p>
        <p>200 г</p>
        <p>230 грн</p>
      </div>
      </li>
      <li>
        <h4>Картопля фрі</h4>
        <div>
        <p>Картопля, соус томатний</p>
        <p>150 г</p>
        <p>160 грн</p>
        </div>
      </li>
      <li>
        <h4>Картопля по-селянськи</h4>
        <div>
        <p>Картопля, спеції, соус пікантний</p>
        <p>150 г</p>
        <p>160 грн</p>
        </div>
      </li>
      <li>
        <h4>Хрумкі соління з бочки</h4>
        <div>
        <p>Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
        <p>250 г</p>
        <p>350 грн</p>
        </div>
      </li>
      <li>
        <h4>Крильця курячі в медовому соусі</h4>
        <div>
        <p>Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
        <p>400 г</p>
        <p>420 грн</p>
        </div>
      </li>
    </ul>
      <h3>Салати</h3>
      <ul>
        <li>
          <h4>Цезар з куркою</h4>
          <div>
          <p>Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
          <p>230 г</p>
          <p>450 грн</p>
          </div>
        </li>
        <li>
          <h4>Цезар з креветками</h4>
          <div>
          <p>Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
          <p>230 г</p>
          <p>300 грн</p>
          </div>
        </li>
        <li>
          <h4>Грецький салат</h4>
          <div>
          <p>Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
          <p>230 г</p>
          <p>280 грн</p>
          </div>
        </li>
        <li>
          <h4>М’ясний салат</h4>
          <div>
          <p>Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
          <p>230 г</p>
          <p>300 грн</p>
          </div>
        </li>
      </ul>
      <h3>Десерти</h3>
      <ul>
        <li>
          <div>
            <p>Торт наполеон</p>
            <p>230 г</p>
            <p>300 грн</p>
          </div>
        </li>
        <li>
          <div>
            <p>Торт маковий</p>
            <p>230 г</p>
            <p>300 грн</p>
          </div>
        </li>
        <li>
          <p>Тірамісу</p>
          <p>120 г</p>
          <p>260 грн</p>
        </li>
      </ul>
      <h3>Напої</h3>
      <ul>
        <li>
          <p>Чай чорний/зелений</p>
          <p>500 мл</p>
          <p>100 грн</p>
        </li>
        <li>
          <p>Еспресо</p>
          <p>30 мл</p>
          <p>100 грн</p>
        </li>
        <li>
          <p>Американо</p>
          <p>150 мл</p>
          <p>100 грн</p>
        </li>
        <li>
          <p>Капучино</p>
          <p>200 мл</p>
          <p>160 грн</p>
        </li>
        <li>
          <p>Лате</p>
          <p>200 мл</p>
          <p>160 грн</p>
        </li>
      </ul>
  </div>
</section>

