
  <section class="menu-page-section">
    <div class="container">
      <h2 class="menu-title">МЕНЮ РЕСТОРАНУ</h2>
      <div class="menu-list">
        <div class="menu-item">
        <h3 class="menu-subtitle">Гарячі страви</h3>
        <ul>
          <li class="menu-type">
            <div class="menu-info">
              <div>
              <h4 class="dish-name">Борщ з телятини з квасолею</h4>
              <p class="dish-text">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
            </div>
            <p class="dish-weight">400 г</p>
            <p class="dish-price">240 грн</p>
          </div>
          </li>
          <li class="menu-type">
            <div class="menu-info">
            <div>
              <h4 class="dish-name">Суп сирний з куркою</h4>
              <p class="dish-text">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
            </div>
              <p class="dish-weight">400 г</p>
              <p class="dish-price">200 грн</p>
            </div>
          </li>
          <li class="menu-type">
            <div class="menu-info">
              <div>
               <h4 class="dish-name">Паста карбонара</h4>
                <p class="dish-text">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
              </div>
              <p class="dish-weight">350 г</p>
              <p class="dish-price">430 грн</p>
            </div>
          </li>
          <li class="menu-type">
            <div class="menu-info">
              <div>
               <h4 class="dish-name">Стейк зі свинини</h4>
                <p class="dish-text">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
              </div>
              <p class="dish-weight">400 г</p>
              <p class="dish-price">500 грн</p>
            </div>
          </li>
          <li class="menu-type">
          <div class="menu-info">
            <div>
              <h4 class="dish-name">Горбуша в соусі з білого <br>
                 вина</h4>
              <p class="dish-text">Ніжна горбуша, вершковий соус на основі білого вина</p>
              </div>
             <p class="dish-weight">400 г</p>
              <p class="dish-price">400 грн</p>
            </div>
          </li>
        </ul>
        </div>
        <div class="menu-item">
        <h3 class="menu-subtitle">Гарніри та закуски</h3>
        <ul>
          <li class="menu-type">
          <div class="menu-info">
            <div>
              <h4 class="dish-name">Запечені овочі</h4>
              <p class="dish-text">Кабачок, перець, помідор, баклажан</p>
            </div>
              <p class="dish-weight">200 г</p>
              <p class="dish-price">230 грн</p>
          </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
            <div>
              <h4 class="dish-name">Картопля фрі</h4>
              <p class="dish-text">Картопля, соус томатний</p>
            </div>
              <p class="dish-weight">150 г</p>
              <p class="dish-price">160 грн</p>
            </div>
          </li>
        <li class="menu-type">
          <div class="menu-info">
            <div>
              <h4 class="dish-name">Картопля по-селянськи</h4>
              <p class="dish-text">Картопля, спеції, соус пікантний</p>
            </div>
            <p class="dish-weight">150 г</p>
            <p class="dish-price">160 грн</p>
          </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
            <div>
              <h4 class="dish-name">Хрумкі соління з бочки</h4>
              <p class="dish-text">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</p>
            </div>
              <p class="dish-weight">250 г</p>
              <p class="dish-price">350 грн</p>
          </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
            <div>
              <h4 class="dish-name">Крильця курячі в медовому<br> соусі</h4>
              <p class="dish-text">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</p>
            </div>
              <p class="dish-weight">400 г</p>
              <p class="dish-price">420 грн</p>
            </div>
          </li>
        </ul>
        </div>
        <div class="menu-item">
        <h3 class="menu-subtitle">Салати</h3>
        <ul>
          <li class="menu-type">
            <div class="menu-info">
              <div>
                <h4 class="dish-name">Цезар з куркою</h4>
                <p class="dish-text">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
              </div>
              <p class="dish-weight">230 г</p>
              <p class="dish-price">450 грн</p>
            </div>
          </li>
          <li class="menu-type">
            <div class="menu-info">
              <div>
              <h4 class="dish-name">Цезар з креветками</h4>
              <p class="dish-text">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</p>
              </div>
              <p class="dish-weight">230 г</p>
              <p class="dish-price">300 грн</p>
            </div>
          </li>
          <li class="menu-type">
            <div class="menu-info">
            <div>
              <h4 class="dish-name">Грецький салат</h4>
              <p class="dish-text">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</p>
            </div>
            <p class="dish-weight">230 г</p>
            <p class="dish-price">280 грн</p>
          </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
            <div>
              <h4 class="dish-name">М’ясний салат</h4>
              <p class="dish-text">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</p>
            </div>
              <p class="dish-weight">230 г</p>
              <p class="dish-price">300 грн</p>
            </div>
          </li>
        </ul>
        </div>
        <div class="menu-item">
        <h3 class="menu-subtitle">Десерти</h3>
        <ul>
        <li class="menu-type">
          <div class="menu-info">
            <p class="dish-name">Торт наполеон</p>
            <p class="dish-weight">230 г</p>
            <p class="dish-price">300 грн</p>
          </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
            <p class="deserts">Торт маковий</p>
            <p class="dish-weight">230 г</p>
            <p class="dish-price">300 грн</p>
          </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
          <p class="deserts">Тірамісу</p>
          <p class="dish-weight">120 г</p>
          <p class="dish-price">260 грн</p>
          </div>
        </li>
        </ul>
        </div>
        <div class="menu-item">
        <h3 class="menu-subtitle">Напої</h3>
        <ul>
          <li class="menu-type">
            <div class="menu-info">
            <p class="deserts">Чай чорний/зелений</p>
            <p class="dish-weight">500 мл</p>
            <p class="dish-price">100 грн</p>
            </div>
          </li>
          <li class="menu-type">
            <div class="menu-info">
              <p class="deserts">Еспресо</p>
              <p class="dish-weight">30 мл</p>
              <p class="dish-price">100 грн</p>
            </div>
          </li>
          <li class="menu-type">
            <div class="menu-info">
              <p class="deserts">Американо</p>
              <p class="dish-weight">150 мл</p>
              <p class="dish-price">100 грн</p>
            </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
            <p class="deserts">Капучино</p>
            <p class="dish-weight">200 мл</p>
            <p class="dish-price">160 грн</p>
            </div>
        </li>
        <li class="menu-type">
          <div class="menu-info">
            <p class="deserts">Лате</p>
            <p class="dish-weight">200 мл</p>
            <p class="dish-price">160 грн</p>
          </div>
        </li>
        </ul>
        </div>
      </div>
      <button class="menu-button" type="button">Забронювати столик</button>
    </div>
  </section>




