<section class="menu page-section">
<section class="about-kitchen page-section">
  <!-- about-kitchen -->
  <div class="container">
    <h2>МЕНЮ РЕСТОРАНУ</h2>
    <h3>Гарячі страви</h3>
    <ul>
      <li>
        <h4>Борщ з телятини з квасолею</h4>
        <p>Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</p>
      </li>
      <li>
        <h4>Суп сирний з куркою</h4>
        <p>Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</p>
      </li>

      <li>
        <h4>Паста карбонара</h4>
        <p>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
      </li>
      <li>
        <h4>Стейк зі свинини</h4>
        <p>Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</p>
      </li>
      <li>
        <h4>Горбуша в соусі з білого вина</h4>
        <p>Ніжна горбуша, вершковий соус на основі білого вина</p>
      </li>
    </ul>
    <h3>Гарніри та закуски</h3>
    <ul>
      <li>
        <h4></h4>
        <p></p>

      </li>
      <li>
        <h4></h4>
        <p></p>
      </li>
      <li>
        <h4></h4>
        <p></p>
      </li>
      <li>
        <h4></h4>
        <p></p>
      </li>
      <li>
        <h4></h4>
        <p></p>
      </li>
    </ul>
  </div>
</section>
</section>
