<section class="amenities page-section">
  <!-- amenities -->
  <div class="container amenities-section">
    <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-text-1">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities-wrap">
      <li class="amenities-item">
        <h4 class="amenities-list">ЗАГАЛЬНІ</h4>
        <div class="animaties-sect">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text text-2">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h4 class="amenities-list">ВАННА КІМНАТА</h4>
        <div class="animaties-sect">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities-text text-2">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h4 class="amenities-list badroom">СПАЛЬНЯ</h4>
        <div class="animaties-sect">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h4 class="amenities-list">КУХНЯ</h4>
        <div class="animaties-sect">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities-text text-2">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities-item">
        <h4 class="amenities-list">МЕДІА</h4>
        <div class="animaties-sect">
          <p class="amenities-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <div class="reserved">
      <button class="amenities-btn js-open-modal" type="button" data-modal="1">
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a href="./hotel.html" class="amenities-link">
        <span class="amenities-back">Повернутися до перегляду номерів</span>
        <svg class="amenities-back-icon" width="22.43" height="12.62">
          <use href="./img/icons.svg#icon-Vector-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
