<section class="room-hero page-section">
  <!-- room-hero -->

  <!-- <div class="container hero-room-container">
    <div>
      <button class="room-button">
        <svg width="40" height="40" class="room-img-button">
          <use href="./img/icons.svg#icon-Vector-left"></use>
        </svg>
      </button>
      <button class="room-button1">
        <svg width="40" height="40" class="room-img-button">
          <use href="./img/icons.svg#icon-Vector-right"></use>
        </svg>
      </button>
    </div>

    <div class="room-title">
      <h1 class="room-hero-toptitle animate__animated animate__zoomIn">
        ДВОМІСНИЙ НОМЕР люкс
      </h1>

      <p class="room-hero-title animate__animated animate__zoomIn">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div>
      <button
        type="button"
        class="room-hero-button js-open-modal animate__animated animate__fadeInRight"
        data-modal="3"
      >
        Переглянути ціни
      </button>
    </div>

    <div class="visually-hidden1">
      <div class="room-soc-address">
        <div>
          <svg class="room-hero-adres" width="12px" height="20px">
            <use href="./img/icons.svg#icon-location-pin"></use>
          </svg>
        </div>
        <address class="links -room-adress">
          <a href="https://goo.gl/maps/VDoQrk8Fayzj6FLU9"
            >Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15</a
          >
        </address>
      </div>

      <ul class="links soc-container">
        <li>
          <a class="links" href="">
            <svg class="room-img-button" width="40" height="22">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="links" href="">
            <svg class="room-img-button" width="40" height="22">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="links" href="">
            <svg class="room-img-button" width="40" height="22">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- =================================================== -->
  <!-- =================================================== -->
  <!-- =================================================== -->
  <!-- =================================================== -->

  <div class="container room-page-container">
    <!-- Slider-start -->
    <div class="swiper roomPageHero">
      <div class="swiper-wrapper room-hero-wrapper">
        <div class="swiper-slide room-hero-slide">
          <div class="slide-text-content">
            <h2 class="room-slide-title">ДВОМІСНИЙ НОМЕР люкс</h2>
            <p class="room-slide-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <div class="thumb">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./img/room-page/room1__bg-hero-01--mobile.jpg    1x,
                  ./img/room-page/room1__bg-hero-01--mobile@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(max-width: 1279px)"
                srcset="
                  ./img/room-page/room1__bg-hero-01--tablet.jpg    1x,
                  ./img/room-page/room1__bg-hero-01--tablet@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-page/room1__bg-hero-01--desktop.jpg    1x,
                  ./img/room-page/room1__bg-hero-01--desktop@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                src="./img/room-page/room1__bg-hero-01--desktop.jpg"
                alt="Інтер'єр першого залу ресторану"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide room-hero-slide">
          <div class="slide-text-content">
            <h2 class="room-slide-title">ТРЬОХМІСНИЙ НОМЕР</h2>
            <p class="room-slide-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <div class="thumb">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./img/room-page/room1__bg-hero-02--mobile.jpg    1x,
                  ./img/room-page/room1__bg-hero-02--mobile@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(max-width: 1279px)"
                srcset="
                  ./img/room-page/room1__bg-hero-02--tablet.jpg    1x,
                  ./img/room-page/room1__bg-hero-02--tablet@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-page/room1__bg-hero-02--desktop.jpg    1x,
                  ./img/room-page/room1__bg-hero-02--desktop@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                src="./img/room-page/room1__bg-hero-02--desktop.jpg"
                alt="Інтер'єр першого залу ресторану"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide room-hero-slide">
          <div class="slide-text-content">
            <h2 class="room-slide-title">ДВОМІСНИЙ НОМЕР</h2>
            <p class="room-slide-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <div class="thumb">
            <picture>
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./img/room-page/room1__bg-hero-03--mobile.jpg    1x,
                  ./img/room-page/room1__bg-hero-03--mobile@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(max-width: 1279px)"
                srcset="
                  ./img/room-page/room1__bg-hero-03--tablet.jpg    1x,
                  ./img/room-page/room1__bg-hero-03--tablet@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-page/room1__bg-hero-03--desktop.jpg    1x,
                  ./img/room-page/room1__bg-hero-03--desktop@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                src="./img/room-page/room1__bg-hero-03--desktop.jpg"
                alt="Інтер'єр першого залу ресторану"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="room-hero-btns">
        <div
          class="room-hero-prev room-hero-btn animate__animated animate__fadeInLeft"
        >
          <svg width="40" height="40" class="room-img-button">
            <use href="./img/icons.svg#icon-Vector-left"></use>
          </svg>
        </div>
        <div
          class="room-hero-next room-hero-btn animate__animated animate__fadeInRight"
        >
          <svg width="40" height="40" class="room-img-button">
            <use href="./img/icons.svg#icon-Vector-right"></use>
          </svg>
        </div>
      </div>
    </div>
    <!-- Slider-end -->

    <!-- content-start -->
    <div class="room-hero-links">
      <div class="hero-map-place-wrapper">
        <a
          href="https://www.google.com/maps/place/Mimino+Restaurant+and+Hotel+Complex/@49.5989768,34.5261324,19z/data=!4m6!3m5!1s0x40d82601f34ac947:0xbb948724f7cf0b61!8m2!3d49.5992605!4d34.5259946!16s%2Fg%2F1td63v2t"
          target="_blank"
          class="hero-map-place"
        >
          <div class="hero-svg-wrapper">
            <svg class="hero-map-icon">
              <use href="./img/icons.svg#icon-location-pin"></use>
            </svg>
          </div>
          <span class="hero-map-text"
            >Україна, м. Полтава, вул.Маршала Бірюзова, 15</span
          >
        </a>
      </div>
      <div class="hero-soc-content">
        <ul class="hero-soc-list">
          <li class="hero-soc-item">
            <a
              href="https://www.instagram.com/mimino.poltava/"
              target="_blank"
              class="hero-soc-link"
            >
              <svg class="hero-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="hero-soc-item">
            <a
              href="https://www.facebook.com/pages/%D0%A0%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD-%D0%9C%D0%B8%D0%BC%D0%B8%D0%BD%D0%BE/114589595894911?paipv=0"
              target="_blank"
              class="hero-soc-link"
            >
              <svg class="hero-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="hero-soc-item">
            <a
              href="http://www.mimino.poltava.ua/kontakt.html"
              target="_blank"
              class="hero-soc-link"
            >
              <svg class="hero-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="room-hero-modal-btn-container">
        <button
          type="button"
          class="room-modal-btn js-open-modal animate__animated animate__fadeInRight"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
    <!-- content-end -->
  </div>
</section>
