<section class="room-hero page-section">
  <!-- room-hero -->

  <div class="container hero-room-container">
    <div>
      <button class="room-button">
        <svg width="40" height="40" class="room-img-button">
          <use href="./img/icons.svg#icon-Vector-left"></use>
        </svg>
      </button>
      <button class="room-button1">
        <svg width="40" height="40" class="room-img-button">
          <use href="./img/icons.svg#icon-Vector-right"></use>
        </svg>
      </button>
    </div>

    <div class="room-title">
      <h1 class="room-hero-toptitle animate__animated animate__zoomIn">
        ДВОМІСНИЙ НОМЕР люкс
      </h1>

      <p class="room-hero-title animate__animated animate__zoomIn">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div>
      <button
        type="button"
        class="room-hero-button js-open-modal animate__animated animate__fadeInRight"
        data-modal="3"
      >
        Переглянути ціни
      </button>
    </div>

    <div class="visually-hidden1">
      <div class="room-soc-address">
        <div>
          <svg class="room-hero-adres" width="12px" height="20px">
            <use href="./img/icons.svg#icon-location-pin"></use>
          </svg>
        </div>
        <address class="links -room-adress">
          <a href="https://goo.gl/maps/VDoQrk8Fayzj6FLU9"
            >Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15</a
          >
        </address>
      </div>

      <ul class="links soc-container">
        <li>
          <a class="links" href="">
            <svg class="room-img-button" width="40" height="22">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="links" href="">
            <svg class="room-img-button" width="40" height="22">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="links" href="">
            <svg class="room-img-button" width="40" height="22">
              <use href="./img/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
