<section class="room-hero page-section">
  <!-- room-hero -->

  <div class="container">

<div class="room-title">

  <h1 class="room-hero-toptitle">
    ДВОМІСНИЙ НОМЕР люкс
  </h1>

  <p class="room-hero-title">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
    mollit. Exercitation veniam consequat sunt nostrud amet.
  </p>

</div>

<div class="room-soc-address ">
  <p>

    <svg width="12px" height="20px">
      <use href="./img/icons.svg#icon-location-pin">
      </use>
    </svg>

    Україна, м. Полтава, вул. Маршала Бірюзова, 15
  </p>

  <ul class="link">
    <li class="link">
      <svg width="22px" height="22px">
        <use href="./img/icons.svg#icon-instagram">
        </use>
      </svg>
    </li>

    <li class="link">
      <svg width="22px" height="22px">
        <use href="./img/icons.svg#icon-facebook">
        </use>
      </svg>
    </li>

    <li class="link">
      <svg width="22px" height="22px">
        <use href="./img/icons.svg#icon-telegram">
        </use>
      </svg>
    </li>
  </ul>

</div>














</div>

</section>
