
.contacts {
    padding-top: 36px;
    padding-bottom: 32px;
    background: #FFFDEE;
}
.contacts-logo {
    font-family: FilmP3Bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 0.3em;
    color: #494848;
    margin-bottom: 12px;
}
.contacts-title{
    font-family:Montserrat-SemiBold;
    font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.02em;
color: #7A7A7A;
margin-bottom: 16px;
}

.contacts-text {
font-family:Montserrat-Medium;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #C79002;
}
.contacts-text-link{
font-family: Montserrat-Regular;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.02em;
color: #494848;
border: 0.5px solid #F3C653;
border-radius: 2px;
padding-left: 8px;
padding-right: 8px;
padding-top: 12px;
padding-bottom: 11px;
margin-left: 22px;

}
.contacts-icon{
  min-width: 24px;
  fill: #C79002;
  align-items: center;
}
.rest-tel{
  display: flex;
        align-items: center;
  justify-content: center;
  gap: 8px;
}

.hotel-tel{
    margin-left: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
   
}
.two-tel{
  display: flex;
  flex-direction: column;
}
.contacts-link-hotel-tel:not(:last-child){
margin-right: 7px;
}
.contacts-item{
    display: flex;
    align-items: center;
}
.contacts-item:not(:last-child){
    margin-bottom: 16px;
}
.contacts-address{
    font-family: Montserrat-Regular;
    font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.01em;
color: #494848;
   padding-left: 8px;
   padding-right: 5px;
padding-top: 8px;
padding-bottom: 7px;
border: 0.5px solid #F3C653;
border-radius: 2px;
margin-left: 124px;
margin-bottom: 32px;
display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.map {
  min-width: 290px;
  height: 220px;
  border: 1px solid #BABABA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.contacts-map{
    width: 100%;
    height: 100%;
}


  @media screen and (min-width: 414px) {
    .container {
      width: 414px;
    }
    .two-tel{
      flex-direction: row;
        
    }
    .map {
      width: 384px;
    }
    .contacts-address{
      padding-right: 33px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      width: 960px;
    }
    .contacts {
        padding-top: 56px;
        padding-bottom: 40px;
    }
    .contacts-under-container{
        display: flex;
        gap: 101px;
    }
    .contacts-logo {
        font-size: 64px;
        line-height: 69px;
        margin-bottom: 8px;
    }
    .contacts-title{
        margin-bottom: 52px;
    }
    .contacts-text{
        margin-bottom: 8px;
    }
    .rest-tel{
        
        width: 146px;
        margin-left: 0;
        margin-bottom: 24px;
        width: 151px;
    }
    .contacts-link-rest-tel{
      width: 100%;
    }
    .contacts-item{
        display: block;
        
    }
    .contacts-item:not(:last-child){
        margin-bottom: 0;
    }
    
  
  .hotel-tel{
  
    margin-left: 0;
    width: 264px;
    margin-bottom: 48px;
  }
  
  .contacts-address{
    margin-left: 0;
    width: 285px;
    padding-right: 8px;
    padding-top: 9px;
    padding-bottom: 7px;
    margin-bottom: 0;
  }
  .map {
    width: 535px;
    height: 440px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  
}
  @media screen and (min-width: 1280px) {
    .container {
      width: 1140px;
    }
    .contacts {
      padding-top: 64px;
      padding-bottom: 74px;
    }
  
    .contacts-logo {
      margin-bottom: 16px;
    }
    .contacts-title {
      font-size: 20px;
line-height: 24px;
margin-bottom: 40px;
    }
    .contacts-under-container{
      gap: 108px;
    }
    .contacts-text-link{
      color: #828282;
    }
    .contacts-address {
      color: #828282;
    }
    .map {
      width: 634px;

    }
  }