.details-restaurant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../img/main-page/homepage__bg-rest-details--mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  padding-bottom: 40px;
  padding-top: 24px;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/main-page/homepage__bg-rest-details--mobile@2x.jpg);
    }
  }
.details-res-text {
  margin-left: 40px;
}
.logo-title {
  font-family: 'FilmP3Bold', sans-serif;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-bottom: 12px;
}
.after-logo-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 20px;
}
.after-title-description {
  width: 259px;
  font-family: 'Montserrat-SemiBold', sans-serif;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}
.swiper-wrap {
  margin-left: 15px;
  margin-bottom: 32px;
}
.swiper-btn-list {
  display: flex;
  gap: 33px;
}
.dishes-list {
  margin-top: 48px;
  margin-bottom: 16px;
  display: flex;
  gap: 15px;
}
.dish-img {
  height: 270px;
}
.next-pic-btn,
.prev-pic-btn {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: fill 250ms linear;
}
.next-pic-btn:hover,
.next-pic-btn:focus,
.next-pic-btn:active,
.prev-pic-btn:hover,
.prev-pic-btn:focus,
.prev-pic-btn:active {
  fill: #f3c653;
}


.service-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.service-btn {
  padding: 14px 24px;
  font-family: 'Montserrat-Bold', sans-serif;
  width: 236px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: border-color 250ms linear, background-color 250ms linear;
}
.service-btn:hover,
.service-btn:focus {
  border-color: #f3c653;
  background-color: #ffffff;
}

@media screen and (min-width: 414px) {
  .details-res-text {
    margin-left: 125px;
  }
  
}
@media screen and (min-width: 1024px) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/main-page/homepage__bg-rest-details--tablet.jpg);
    padding-top: 48px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .details-restaurant {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../img/main-page/homepage__bg-rest-details--tablet@2x.jpg);
    }
  }
  .details-res-text {
    margin-left: 278px;
  }
  .logo-title {
    font-size: 64px;
    margin-bottom: 16px;
  }
  .after-logo-title {
    font-size: 24px;
    line-height: 1.22;
    margin-bottom: 8px;
  }
  .after-title-description {
    width: 610px;
    font-size: 16px;
    line-height: 1.25;
  }
  .wrapper {
    display: flex;
    /* direction: rtl; */
    gap: 18px;
    margin-top: 40px;
  }
  .swiper-wrap {
    direction: ltr;
    margin-bottom: unset;
    margin-left: unset;
  }
  .dishes-list {
    gap: 20px;
    margin-bottom: 24px;
    margin-top: unset;
  }

  .swiper-wrap {
    margin: unset;
    order: 2;
  }

  .service-list {
    order: 1;
    margin-top: auto;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/main-page/homepage__bg-rest-details--desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/main-page/homepage__bg-rest-details--desktop@2x.jpg);
    }
  }
  .details-res-text {
    margin-left: 338px;
  }
  .dishes-list {
    gap: 100px;
  }
}
