.hero {
  height: 720px;
  /* background-color: aqua; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 164px;
}

.hero-main-title {
  font-family: 'FilmP3Bold', sans-serif;
  font-weight: 700;
  font-size: 128px;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-align: center;
  max-width: 404px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.hero-subtitle {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 368px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.hero-text-description {
  font-family: 'TimesNewRomanPS-Bold', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  max-width: 356px;
  margin: 0 auto;
  margin-bottom: 144px;
}

.hero-buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hero-btn-one {
  margin-right: 60px;
}

.hero-btn {
  min-width: 232px;
  height: 48px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #f3c653;

  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
}
/* ======= IMAGES DESCTOP === */
/* Hero images */

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../../img/main-page/homepage__bg-hero--desktop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../../img/main-page/homepage__bg-hero--desktop@2x.jpg');
  }
}
